name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: jagdish-singh-dotnet
          outputs: dist/github-contribution-grid-snake.svg
